# Wallet Configuration
PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE

# Network Configuration
RPC_URL=https://polygon-bor-rpc.publicnode.com
CLOB_API_URL=https://clob.polymarket.com

# Market Configuration
CONDITION_ID=0xYOUR_CONDITION_ID
STRATEGY="amm"
CONFIG="./config/amm_medium_volatility_adaptive.json"
